

<ion-content [fullscreen]="true">
  <div id="body">

  <p [innerHTML]="quest.question" id="triviaQuestion"></p>
  <p [hidden]="hintVisable" id="invisibleHint">The word begins with {{rightAnswer.correct_answer[0]}}</p>

  <p></p>

  <div id="answers">
    <button (click)="toggleClicked(); rightButtonClicked()" [ngClass]="{'clicked': isClicked}" class="answerButtons">{{rightAnswer.correct_answer}}</button>
    <br>
    <button (click)=" toggleClickedTwo();wrongButtonClicked()" [ngClass]="{'clicked': isClickedTwo}" class="answerButtons">{{incorrectOne.incorrect_answers[0]}}</button>
    <br>
    <button (click)=" toggleClickedThree();wrongButtonClicked()" [ngClass]="{'clicked': isClickedThree}" class="answerButtons">{{incorrectOne.incorrect_answers[1]}}</button>
    <br>
    <button (click)=" toggleClickedFour();wrongButtonClicked()" [ngClass]="{'clicked': isClickedFour}" class="answerButtons">{{incorrectOne.incorrect_answers[2]}}</button>
  </div>
  <br>
  <br>

  <div id="nextTrivia">
    
    <button (click)="hint()" id="submitButton">Hint</button>
    <button (click)="restart()"  id="submitButton">Next</button>
    <button (click)="submitAnswers()"  id="submitButton">Submit</button>
  </div>
    





  

  <!---
  <div *ngFor="let answer of quest.question">
  <p [innerHTML]="answer"></p>
</div>-->

</div>
  
 
</ion-content>
