<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>triviasettings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Categories:</h1>
  <div id="genreButton">
  <button id="butOne" class="genreBut" >General Knowledge</button>
  <button id="butTwo" class="genreBut">Entertainment</button>
  <button id="butThree" class="genreBut">Music</button>
  <br>

  <button id="butFour" class="genreBut">History</button>
  <button id="butFive" class="genreBut">Celebrities</button>
  <button id="butSix" class="genreBut">Mythology</button>
</div>

<h1>Difficulty:</h1>
  <div id="genreButton">
  <button id="butOne" class="genreBut" >Easy</button>
  <button id="butTwo" class="genreBut">Medium</button>
  <button id="butThree" class="genreBut">Hard</button>
  <br>
</div>

<button>Play</button>
</ion-content>
