<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content [fullscreen]="true">
 
  <div id="body">
  <!--<p [innerHTML]="quest.question"></p-->
    <img src="assets/images/gameLogos.png" id="logoImage" class="pop-in">
    <!--<h2 id="homeTitle">Facts and Flags</h2>-->

    <!--Links ti all the other pages-->
    <div id="triviaLink">
      <button  [routerLink]= "['/settings']" class="routerBtn float-up-down"><span> <img src="../../assets/images/settingsIcon.png" class="iconButton"> SETTINGS </span></button>
      <!--<button  [routerLink]= "['/triviasettings']" class="routerBtn float-up-down"> <span><img src="../../assets/images/triviaIcon.png" class="iconButton">YOUR ACCOUNT </span></button>-->
      <button  [routerLink]= "['/trivia']" class="routerBtn float-up-down"> <span> <img src="../../assets/images/triviaIcon.png" class="iconButton">TRIVIA </span></button>
      <button  [routerLink]= "['/flags']" class="routerBtn float-up-down"> <span><img src="../../assets/images/flagIcon.png" class="iconButton">GUESS THE FLAG </span></button>

  </div>
</div>
</ion-content>
