h1{
    font-family: 'BubbleFont';
    font-size: 60px;
    color:  #74d698;
}
#flagCard{
    text-align: center;
}

ion-card{
    
    margin: 0 auto;
    padding: 0%;
    width: 40%;
    height: 100%;
    text-align: center;
}
#headTitle{
    text-align: center;
    border: 1px solid gray;
}

#flag{
    text-align: center;
    padding: 0px; 
}

#flagImage{
    padding-top: 3%;
    width: 60%;
    text-align: center;
}
#game{
    text-align: center;

    //background-image: url("assets/images/background.jpg");
    
}

#guess{
    border: 1px solid gray;
    border-radius: 25px 25px;
    text-align: center;
    margin-top: 2%;
}