<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>flags</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="body">
  <div id="game">
    <div id="headTitle">
      <!--adds image logo-->
      <img src="../../assets/images/gameLogo2.png" id="logo">
    </div>
    <div id="header">
      <h1>Guess That Flag</h1>
    </div>
  
  
  </div>
  <div id="flag">
  
  <div id="flagCard">
    <ion-card>
      <!--Displays the image of the flag-->
      <img alt="flag images" id="flagImage" src="{{randomCountry.flags.png}}" />
      <p>(Please write your answer in this format - Answer, i.e. Australia)</p>
      <ion-card-header>
        <!--Hides the hints (until hint button is pressed)-->
        <p [hidden]="hintOneHidden">This Country's Capital is {{randomCountry.capital}}</p>
        <p [hidden]="hintTwoHidden">This Country's is located in the region of {{randomCountry.region}}</p>
        <p [hidden]="hintThreeHidden">This Country's name begins with {{randomCountry.name.common[0]}}</p>
      </ion-card-header>
  
  <!--Using ngModel to allow user it input guess-->
      <ion-item id="guess">
        <ion-input [(ngModel)]="flagGuess" id="userGuessFlag"></ion-input>
        <!--When button is clicked, checks iof user is correct-->
        <button (click)="submitAnswer()" id="submitButton">Submit</button>
      </ion-item>
    </ion-card>
  </div>
  
  </div>
  <div id="extraButtons">
    <!--Displays hhiden text-->
  <ion-button (click)="hint()" id="submitButton">Hint</ion-button>
  <!--skips to next flag-->
  <ion-button (click)="nextFlag()" id="submitButton">Next</ion-button>
</div>
  </div>
</ion-content>
