<ion-header [translucent]="true">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <div id="set">
    <h3>Edit Profile Picture</h3>
    <ion-avatar>
      <img alt="Default Avatar" src="../../assets/icon/defaultAvatar.svg" />
    </ion-avatar>
  </div>

 



  <!--
<div class="musicOnOff">
  <h3 class="label">Music</h3>
  <ion-button (click)="playSound()" class="on">On</ion-button>
  <ion-button (click)="stopSound()" class="off">Off</ion-button>
</div>  


<div class="musicOnOff">
  <h3 class="label">Sound Effects </h3>
  <ion-button class ="on">On</ion-button>
  <ion-button class="off">Off</ion-button>
</div>    

<div class="musicOnOff">
  <h3 class="label">Notifications</h3>
  <ion-button class ="on">On</ion-button>
  <ion-button class="off">Off</ion-button>
</div>  


<div class="review">
  <ion-button class="reviewBtn">Rate the game</ion-button>
  <div class="star-rating">

    <span class="star" id="starOne" (click)="starOneClicked()">&#9733;</span>
    <span class="star" id="starTwo">&#9733;</span>
    <span class="star" >&#9733;</span>
    <span class="star" >&#9733;</span>
    <span class="star" >&#9733;</span>

  </div>

</div>  
-->

  


  
</ion-content>
