



<ion-content [fullscreen]="true">
  <div id="body">
  <p>Settings</p>


  <div class="musicSettings">
    <p class="label">MUSIC</p>
    <button class="btnOne">ON</button>
    <button class="btnTwo">OFF</button>
  </div>

  <div class="musicSettings">
    <p class="label">SOUND EFFECTS</p>
    <button class="btnOne">ON</button>
    <button class="btnTwo">OFF</button>
  </div>

  <div class="musicSettings">
    <p class="label">NOTIFICATIONS</p>
    <button class="btnOne">ON</button>
    <button class="btnTwo">OFF</button>
  </div>

  <div class="musicSettings">
    <p class="label">USER</p>
    <input placeholder="Your Name" id="inputName" type="text" [(ngModel)]="userName">
  </div>

  <div class="musicSettings">
    <p class="label">TOTAL TRIVIA SCORE</p>
    <p class="label">{{totalTriviaScore}}</p>
  </div>

  <div class="musicSettings">
    <p class="label">TOTAL FLAGS SCORE</p>
    <p class="label">{{totalFlagScore}}</p>
  </div>



 



  <!--
<div class="musicOnOff">
  <h3 class="label">Music</h3>
  <ion-button (click)="playSound()" class="on">On</ion-button>
  <ion-button (click)="stopSound()" class="off">Off</ion-button>
</div>  


<div class="musicOnOff">
  <h3 class="label">Sound Effects </h3>
  <ion-button class ="on">On</ion-button>
  <ion-button class="off">Off</ion-button>
</div>    

<div class="musicOnOff">
  <h3 class="label">Notifications</h3>
  <ion-button class ="on">On</ion-button>
  <ion-button class="off">Off</ion-button>
</div>  


<div class="review">
  <ion-button class="reviewBtn">Rate the game</ion-button>
  <div class="star-rating">

    <span class="star" id="starOne" (click)="starOneClicked()">&#9733;</span>
    <span class="star" id="starTwo">&#9733;</span>
    <span class="star" >&#9733;</span>
    <span class="star" >&#9733;</span>
    <span class="star" >&#9733;</span>

  </div>

</div>  
-->

  

</div>
  
</ion-content>
