#body{
    background-image: url('../../assets/images/background2.png');
    width: 100%;
    height: 100%;
    font-size: 35px;
    font-weight: bold;
    color: white;
}

.musicSettings{
    width: 50%;
    margin: 0 auto;
    margin-top: 5%;
    clear:both;
}

.label{
    width:30%;
    float: left;
}

.btnOne{
    width: 30%;
    float:left;
}
.btnTwo{
    width: 30%;
    float:right;
}

#inputName{
    margin-top: 10px;
    outline: 0;
    background: rgb(255, 255, 255);
    box-shadow: transparent 0px 0px 0px 1px inset;
    padding: 0.6em;
    border-radius: 14px;
    border: 1px solid #333;
    color: black;
}

button{
    --bg: white;
  --hover-bg: #ff90e8;
  --hover-text: white;
  color: black;
  cursor: pointer;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
  font-size: 20px;
}

button:hover {
    color: var(--hover-text);
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
  }
  
button:active {
    transform: translate(0);
    box-shadow: none;
  }
  

.label{
    width:30%;
    float:left;
}

.on{
    width: 30%;
    float:left;
}
.off{
    width: 30%;
    float:right;
}

.star-rating {
    font-size: 2rem;
    color: #d3d3d3;
    cursor: pointer;
  }
  
  .star {
    color: #d3d3d3;
    margin-right: 5px;
  }
  
  .star:hover,
  .star:hover ~ .star {
    color: #f39c12; /* Highlight stars on hover */
  }

  
  .star.selected {
    color: #f39c12; /* Highlight the selected stars */
  }


